/* ---------------------------- Reset Styles -------------------------------- */

:root {
    font-size: 16px;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* ----------------------- Variables ---------------------------- */
    /* Fonts */

    /* Colors */
    --clrBkgrdBlue: rgb(25 146 212);
    --clrBkgrdGray: rgb(226 232 240);
    --clrBkgrdWhite: rgb(255 255 255);
    --clrCardAccent: rgb(240 180 41);
    --clrFontWhite: rgb(255 255 255);
    --clrFontBlack: rgb(0 0 0);
    --clrFontGray: rgb(99 99 99);
    /* Sizes */
}

/* ------------------------------ Styles ------------------------------------ */

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.header {
    grid-area: 1 / 2 / 2 / 3;

    background-color: var(--clrBkgrdWhite);
    color: var(--clrFontBlack);
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;

    background-color: var(--clrBkgrdBlue);
    color: var(--clrFontWhite);
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;

    background-color: var(--clrBkgrdGray);;
}